body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #fff;
    margin: 0;
    font-size: 12pt;
}


#page-container {
    position: relative;
    max-width: 8in;
    margin: 0 auto;
}

#content-wrap {
    width: 100%;
    margin: auto;
    text-align: center;
}

#header {
    width: 100%;
    height: 1in;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

#header a {
    text-decoration: none;
    color: inherit;
}


.board {
    margin: auto;
}

.cell {
    width: 40px;
    height: 40px;
    background: #00aa00;
}

.piece {
    width: 75%;
    height: 75%;
    background: #0000;
    margin: auto;
    border-radius: 50%;
    border: none;
    display: block;
}

.piece:focus {
    outline: none;
}

/* Initial board state */
#p33 { background: #fff; }
#p34 { background: #000; }
#p43 { background: #000; }
#p44 { background: #fff; }
